span {
    color: orange;
}

.card-text .reward{
    position: absolute;
    align-self: center;
    top: 5%;
    padding: 2%;
    background-color: rgba(128, 128, 128, 0.75);
    border-radius: 5px;
}

#wanted:hover .card-text .reward{
    display: none;
}

img {
    filter: contrast(65%)
}

#wanted:hover img {
    filter: contrast(100%);
}